@{
    ViewBag.Title = "Star Wars";
}
<main>
    <div class="page-title col-8 offset-4 marginBottom10">
        <h1>
            <img src="~/Content/Imagens/LogoSW.jpeg" style="max-height:50%; max-width: 50%"/>
        </h1>
    </div>
    <section class="row" @*class="d-flex flex-lg-wrap col-sm-12 col-md-12 col-lg-12 margin10"*@>
        <div class="col-sm-12 col-md-12 col-lg-12 d-flex flex-lg-wrap">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a href="/Home/Films" class="aInd">
                    <div class="card width95 cardHome">
                        <div class="card-body d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <h5 class="card-title titleLink">Films</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a href="/Home/Persons" class="aInd">
                    <div class="card width95 cardHome">
                        <div class="card-body d-flex justify-content-between">
                            <div class="d-flex flex-rows align-items-center">
                                <h5 class="card-title titleLink">Persons</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a href="/Home/Planets" class="aInd">
                    <div class="card width95 cardHome">
                        <div class="card-body d-flex justify-content-between">
                            <div class="d-flex flex-rows align-items-center">
                                <h5 class="card-title titleLink">Planets</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 d-flex flex-lg-wrap marginTop10">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a href="/Home/Species" class="aInd">
                    <div class="card width95 cardHome">
                        <div class="card-body d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <h5 class="card-title titleLink">Species</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a href="/Home/Starships" class="aInd">
                    <div class="card width95 cardHome">
                        <div class="card-body d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <h5 class="card-title titleLink">Starships</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a href="/Home/Vehicles" class="aInd">
                    <div class="card width95 cardHome">
                        <div class="card-body d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <h5 class="card-title titleLink">Vehicles</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>                
</section>
</main>