@using StarWars.Models
@model IEnumerable<Planet>
@{
    ViewBag.Title = "Planets";
}

<main class="mainTabela">
    <div class="page-title">
        <h1>@ViewBag.Title</h1>
    </div>
    <div id="table">
        <table class="table tg">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Diameter</th>
                    <th>Terrain</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    string obj = Json.Encode(item);
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Diameter)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Terrain)
                        </td>
                        <td>
                            <button type="button" class="btn btn-light" onclick="details('@obj')" data-bs-toggle="tooltip" data-bs-title="Open Details"><i class="bi bi-info-circle-fill"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</main>

@section scripts {
    <script type="text/javascript">

    function details(data) {
      if (typeof (data) == "string")
        data = JSON.parse(data.replaceAll("\r", "").replaceAll("\n", "<br/>"));

        const dados = [
        ["Diameter", data.Diameter],
        ["Rotation Period", numberWithUnit(data.RotationPeriod, "h")],
        ["Orbital Period", numberWithUnit(data.OrbitalPeriod, "standart days")],
        ["Gravity", data.Gravity],
        ["Climate", data.Climate],
        ["Terrain", data.Terrain],
        ["Surface Water", numberWithUnit(data.SurfaceWater, "%")],
        ["Residents", data.Residents.length],
        ["Films", data.Films.length]
        ];

        abrirModalDetails("Name: " + data.Name, dados);
    }

    </script>
}

