@using StarWars.Models
@model IEnumerable<Specie>

@{
    ViewBag.Title = "Species";
}

<main class="mainTabela">
    <div class="page-title">
        <h1>@ViewBag.Title</h1>
    </div>
    <div id="table">
        <table class="table tg">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Diameter</th>
                    <th>Terrain</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    string obj = Json.Encode(item);
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Classification)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Designation)
                        </td>
                        <td>
                            <button type="button" class="btn btn-light" onclick="details('@obj')" data-bs-toggle="tooltip" data-bs-title="Open Details"><i class="bi bi-arrow-right-circle-fill"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</main>

@section scripts {
    <script type="text/javascript">

    async function details(data) {
      if (typeof (data) == "string")
        data = JSON.parse(data.replaceAll("\r", "").replaceAll("\n", "<br/>"));

      const worldName = await getWorldName(data.Homeworld);

        const dados = [
        ["Classification", data.Classification],
        ["Designation", data.Designation],
        ["Average Height", numberWithUnit(data.AverageHeight, "cm")],
        ["Average Lifespan", numberWithUnit(data.AverageLifespan, "Years")],
        ["Eye Colors", data.EyeColors],
        ["Hair Colors", data.HairColors],
        ["SkinColors", data.SkinColors],
        ["Language", data.Language],
        ["Homeworld", worldName],
        ["Characters", data.People.length],
        ["Films", data.Films.length]
        ];

        abrirModalDetails("Name: " + data.Name, dados);
    }

    </script>
}
